.container {
  width: 600px;
  background-color: #f0f0f0;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.login-title {
  text-align: center;
  padding: 5px;
}

.form-input {
  width: 80%;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  border: transparent;
  border-color: #0958d9;
}

.btn {
  width: 82%;
  height: 50px;
  color: #f0f0f0;
  font-weight: 700;
  padding: 5px;
  margin-top: 15px;
  border: transparent;
  background-color: #0958d9;
  border-radius: 10px;
}

.user-list-wrap {
  display: flex;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.table-head {
  display: flex;
  justify-content: space-between;
}
