.add-blog-wrapper {
  /* background-color: aliceblue; */
}

.create-blog-title {
  text-align: center;
}

.form-wrap {
  width: 500px;
  background-color: aliceblue;
  margin: 0 auto;
  padding: 20px;
}

.add-blog-input {
  padding: 15px;
  margin-top: 10px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.add-blog-button {
  margin-top: 20px;
  padding: 15px;
  width: 96%;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.blog-wrapper {
  border: 1px solid orange;
  padding: 20px;
}

.blog-title {
  text-align: center;
}

.blog-list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-list {
  list-style-type: none;
  font-size: 20px;
}

.list-wrap {
  display: flex;
}

.like-btn-enabled {
  background-color: rgb(59, 58, 58);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.like-btn-disabled {
  background-color: rgb(234, 228, 228);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
